

<div class="container">
  <h1 style="text-align: center;padding: 40px;">Angular CRUD</h1>

  <div class="row">
    <div class="col-lg-4">
     

      <div style="margin: 10px;">
        <h3>Create</h3>
        <input type="text" placeholder="Enter new element" #element class="form-control"/>
      <button style="margin-top: 10px;" class="btn btn-success" (click)="addElement(element.value)">Add New Element</button>
      </div>

      <!--<hr>
      <div style="margin: 10px;">
        <h3>Read</h3>
        <button class="btn btn-success" (click)="showTask()">Show Data/Array</button>
       <ul *ngFor="let item of list">
          <li>{{item.name}}</li>
        </ul>
      </div>-->
      <hr>
      
      <div style="margin: 10px;">
        <h3>Update</h3>
        <div class="form-group">
          <label>Enter The element that you want to change</label>
          <input type="number" class="form-control" #numberToChange placeholder="Insert Array ID"/>
          <input type="text" class="form-control" #changeElement placeholder="Update Element"/>
          <button style="margin-top: 10px;" (click)="updateElement(changeElement.value,numberToChange.id)" class="btn btn-primary">Make change</button>
        </div>
      </div>
      <hr>
      <div class="form-group" style="margin: 10px;">
        <h3>Search</h3>
        <input type="text" placeholder="search element" #search class="form-control" />
        <button  style="margin-top: 10px;" (click)="searchElement(search.name)" class="btn btn-danger">Search</button>
        <!--<ul *ngFor="let searchtask of list">
          <li>{{searchtask.name}}</li>
        </ul>-->
      </div>
   






    </div>
    <div class="col-lg-8">
      <h3>Array List</h3>

      <table class="table table-striped" >
        <thead>
          <tr>
            <th>Array ID</th>
            <th>Array Element</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of list">
            <td>{{element.id}}  </td>
            <td>{{element.name}}</td>
            <td>  <button class="btn btn-success" (click)="removeElement(element.id)">Remove Element</button></td>
          </tr>

        </tbody>
      </table>


    </div>
  </div>
</div>





